<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zzr.licenta.gymapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon_menu_plans"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_energy_yes"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".ActivityClasses.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityClasses.Groups"
            android:label="Exercises"
            android:parentActivityName=".ActivityClasses.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityClasses.MainActivity"></meta-data>
        </activity>
        <activity android:name=".ActivityClasses.PlayWorkout"
            android:parentActivityName=".ActivityClasses.Groups">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityClasses.Groups"></meta-data>
        </activity>

        <receiver
            android:name=".Alarm.MyAlarm"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>